* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none;
	background-color: yellow;
	padding: 2rem;
	margin-bottom: 0;
}

nav .nav, nav .nav {
	padding: 1rem;
	display: inline;
	margin-bottom: 0rem;
}

#company {
	text-align: center;
	font-size: 50px;
	padding-top: 1rem;
}

#motto {
	text-align: center;
	font-size: 20px;
	padding-bottom: 2rem;
}

header {
	text-align: center;
	background-color: lightyellow;
}

#background	{
	text-align: center;
	background-color: lightyellow;
	padding-bottom: 1.5rem;
}

#action {
	text-align: center;
	font-weight: bold;
	background-color: yellow;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
	padding-bottom: 1rem;
}

#linebreak {
	height: 5px;
	background-color: yellow;
	border: none;
}

#main {
	background-color: lightyellow;
}

#h {
	text-align: center;
	padding: 0.5rem;
}

#content {
	background-color: #FFC15E;
	border-radius: 25px;
}

p {
	padding: 1rem;
}